.DS_Store
Thumbs.db

node_modules/
npm-debug.log
yarn-error.log

config.js
.env

package-lock.json
yarn.lock

dist/
build/
.tmp/
.cache/
.history/

logs/
*.log
npm-debug.log*

coverage/

.vscode/
.idea/
*.swp